<button class='btn-more-component'> +</button>

<style>
	.btn-more-component {
		font-size: var(--title);
		line-height: 1;
		margin-top: 2rem;
		padding: 0.4rem 10rem;
		border: 1px solid var(--caro-primary);
		background-color: transparent;
		border-radius: 4rem;
		&:hover {
			background-color: var(--caro-secondary);
			border-color: var(--caro-secondary);
			transition: all 1s ease-in-out;
		}
	}
</style>
